$header-footer-background-color: #0d47a1;
$body-background-color: white;
$button-background-color: #0055ff;
$button-hoover-background-color: #0073ff;
$button-active-background-color: #bf2525;
$button-active-hoover-background-color: #d62a2a;
$datapicker-color: $button-background-color;
$responsive-max-width: 900px;
